
<h1><%= @figure.name %></h1>

<h2>Titles</h2>
<ul>
<% @figure.titles.each do |title| %>
  <li><%=title.name%></li>
<%end%>
</ul>

<h2>Landmarks</h2>
<ul>
<% @figure.landmarks.each do |land| %>
  <li><%=land.name%></li>
<%end%>
</ul>